
.colors-column {
  width: 15%;
  align-content: center;
  margin-top: 25%;
}

h1 {
  font-size: 70px;
}

.logo {
  width: 100px;
  height: 100px;
  margin: auto;
}

.big-img {
  object-fit: cover;
}

.first-row {
  min-height: 20%;
}

.second-row {
  min-height: 80%;
  height: 70%;
}

.third-row {
  height: auto;
}

h3 {
  font-size: 40px;
}

.second-column {
  width: 85%;
}

figcaption {
  font-size: 50px;
}

.second-row {
  height: 50%;
}

.color-one {
  height: 100px;
  width: 100px;
}

.color-two {
  height: 100px;
  width: 100px;
}

.color-three {
  height: 100px;
  width: 100px;
}

.color-p {
  font-size: 40px;
}

.text-container {
  height: 20%;
  flex-direction: row;
  align-items: flex-start;
}

.space {
  width: 30%;
}
